<div id="mainTabDescription" style="width:60%">
	<div style="padding:10px">
		<h1>About</h1>
		<p>Welcome to the ArcGIS Online Administrative Tools application.
		   This application allows administrators to perform key administrative tasks on their ArcGIS Online Org.</p>
		<p>
			This application is in Beta. While all tasks have been tested, no warranty of perfect performance 
			should be inferred.
		</p>
		<p>
			For more information on this application contact Phil Holleran at <a href="mailto:pholleran@esri.com">pholleran@esri.com</a>.
		</p>
		<br>
		<h1>Recent Updates</h1>
		<h2>June 14, 2013</h2>
		<ul>
			<li class="text"><b>Support: </b>Fixed support for document links</li>
		</ul>
		<h2>June 6, 2013</h2>
		<ul>
			<li class="text"><b>Support: </b>For on-premises portals using Portal for ArcGIS</li>
		</ul>
		<h2>June 5, 2013</h2>
		<ul>
			<li class="text"><b>New Task: </b>Update Server/Service Path</li>
		</ul>
	</div>
</div>
